@{
    ViewData["Title"] = "convertToEUR";
    string currencyName = ViewBag.CurrencyName;
    string finalAmmount = ViewBag.FinalValue;

}

<h1>Iznos u trazenoj valuti @currencyName je @finalAmmount  </h1>





